html{
	background-color:white;
	font-family: 'Rajdhani', sans-serif;
}
div{
border-block-end-color: #0000ff;
}
h3{
	font-size:40px;
	text-align:center;
	font-weight:bold;
}
.value{
	font-size:32px;
	color:#808080
}
.rgb{
	font-size:32px;
	color:rgb(0, 255, 0);
}
.rgba{
	font-size:32px;
	color:rgba(180,18,255,1);
}
.hsl{
	font-size:32px;
	color:hsl(120 70% 50%);
}
.center{
	font-size: x-large;
	text-align:center;
}
.last{
	font-size: small;
	padding:20px 30px;
	color:white;
	background-color:#cb7070;
	text-align-last:center;
}
.rtl{
	font-size: x-large;
	color: darkorange;
	direction: rtl;
}
.ltr{
	font-size: x-large;
	color: darkorange;
	direction: ltr;
}
.dec-line{
	text-decoration-line: underline;
}
.dec-color{
	text-decoration-line: overline;
	text-decoration-color: red;
}

.dec-style{
	text-decoration-line: underline;
  text-decoration-style: double;}
  .dec-thick{
	text-decoration-line: underline;
  text-decoration-color: red;
  text-decoration-style: double;
  text-decoration-thickness: 2px;
}
